body {
  margin: 0;
  font-family: Arial;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 3fr;
  background: #373833;
  height: 100vh;
}
.container_vicBar {
  background: #fec72e;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 2fr 7fr 4fr;
}
.container_vicBar_heading {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container_vicBar_heading img {
  height: 50px;
  color: #f7f7f7;
}
.container_vicBar_heading p {
  font-size: 30px;
  font-weight: bold;
}
.container_vicBar_bar1 {
  display: flex;
  flex-direction: column;
}
.container_vicBar_bar1_item {
  padding: 0 30px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.container_vicBar_bar1_item img {
  height: 30px;
}
.container_vicBar_bar2 {
  display: flex;
  flex-direction: column;
}
.container_vicBar_bar2_item {
  display: flex;
  flex-direction: row;
  padding: 0 30px;
  margin: 0;
  gap: 10px;
  align-items: center;
}
.container_vicBar_bar2_item img {
  height: 30px;
}
.container_horBar {
  background: #ffffff;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  flex-direction: column;
}
.container_horBar_bar1 {
  display: flex;
  flex-direction: row;
  padding: 10px 60px;
  align-items: center;
  justify-content: space-between;
}
.container_horBar_bar1_search {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.container_horBar_bar1_search input {
  width: 550px;
  background-color: #eeeeee;
  border-radius: 10px;
  border: none;
}
.container_horBar_bar1_other {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.container_horBar_bar1_other p {
  font-size: 20px;
  font-weight: bold;
}
.container_horBar_bar1 img {
  height: 30px;
}
.container_horBar_bar2 {
  display: flex;
  flex-direction: row;
  padding: 10px 60px;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}
.container_horBar_bar2_intro {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.container_horBar_bar2_intro_name {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 5px;
}
.container_horBar_bar2_intro_name_welcome {
  font-size: 15px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.container_horBar_bar2_intro_name_userName {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.container_horBar_bar2_methodList {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.container_horBar_bar2_methodList_method button {
  background-color: #66615e;
  border-radius: 15px;
  padding: 10px 30px;
  width: 120px;
  color: #f7f7f7;
  font-weight: bold;
  font-size: 15px;
}
.container_content {
  background: #010101;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  grid-template-rows: 3fr 4fr;
  grid-template-columns: 9fr 4fr;
  color: #f7f7f7;
  font-weight: bold;
}
.container_content_projects {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.container_content_projects_heading p {
  font-size: 20px;
}
.container_content_projects_list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 0 10px;
  margin: 0;
}
.container_content_projects_list_card {
  background-color: #f1f1f1;
  border-radius: 5px;
  border-left: #66615e 10px solid;
  color: #000000;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5px;
}
.container_content_projects_list_card_heading {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
.container_content_projects_list_card_content {
  margin: 0;
  padding: 0 0 57px 0;
  font-weight: normal;
  font-size: 14px;
}
.container_content_projects_list_card_icons {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.container_content_projects_list_card_icons img {
  height: 20px;
  padding: 0 10px;
}
.container_content_announcements {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}
.container_content_announcements_heading p {
  font-size: 20px;
}
.container_content_announcements_card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr;
  background-color: #f7f7f7;
  margin-right: 20px;
  border-radius: 5px;
  color: #000000;
}
.container_content_announcements_card_item {
  margin: 0;
  padding: 5px 20px;
}
.container_content_announcements_card_item_heading {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.container_content_announcements_card_item_content {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
}
.container_content_trending {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.container_content_trending_heading p {
  font-size: 20px;
}
.container_content_trending_card {
  background-color: #f7f7f7;
  margin-right: 20px;
  border-radius: 5px;
  color: #000000;
}
.container_content_trending_card_item {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 8px 20px;
  align-items: center;
  gap: 10px;
}
.container_content_trending_card_item_text {
  margin: 0;
  padding: 0;
}
.container_content_trending_card_item_text_name {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.container_content_trending_card_item_text_content {
  font-size: 12px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
.container_content_trending_card_item img {
  height: 40px;
  border-radius: 50%;
  background-color: #00c3e3;
}

#personalLogo1 {
  height: 40px;
  border-radius: 50%;
}

#personalLogo2 {
  height: 60px;
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
