body {
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr  4fr;
  grid-template-rows: 1fr 3fr;
  background: #373833;
  height: 100vh;
  &_vicBar {
    background: #00c3e3;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  &_horBar {
    background: #e60012;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  &_content {
    background: #fb9039;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}